
body {
	background: #fff url(images/Page-BgTexture.jpg);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #857D74;
	padding: 35px 0px 35px 0px;
	margin: 0;
}

a {
	color: #B21100;
}

a:hover {
	text-decoration: none;
}

h1 {
	letter-spacing: -1px;
	font-size: 30px;
}

h2 {
	font-size: 22px;
	background-image: url(images/bbg1.gif);
	background-repeat: no-repeat;
	height: 60px;
	padding-left: 22px;
}

h3 {
	background-image: url(images/bbg0.gif);
	background-repeat: no-repeat;
	padding-left: 22px;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 170%;
}

#page {
	width: 868px;
	border: solid 7px #fff;
	background-color: #fff;
	margin: 0 auto;
}

#header {
	position: relative;
	height: 9.0em;
	background: #2B2B2B;
	margin-bottom: 2px;
}

#headerInner {
	position: absolute;
	bottom: 0em;
	padding: 0em 2.0em 1.3em 2.0em;
}

#headerInner h1 {
	font-weight: normal;
	color: #fff;
	font-size: 2.5em;
	margin: 0;
}

#headerInner h1 a {
	color: #fff;
	text-decoration: none;
}

#headerInner h2 {
	font-weight: normal;
	color: #eee;
	font-size: 1.0em;
	margin: 0;
	background-image: none;
	height: auto;
	padding-left: 0;
}

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}

.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}




/* menu structure */

.artmenu
{
	padding: 0px 0px 0px 0px;
}

.nav
{
	position: relative;
	height: 43px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 43px;
	background-image: url('images/nav.png');
}

.nav .l
{
	left: 0;
	right:0px;
}

.nav .r
{
	right: 0;
	width: 868px;
	clip: rect(auto, auto, auto, 868px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
	*list-style-type: none;
	*list-style-image: none;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 43px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
}

.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 129px;
	background-image: url('images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:0px;
}

.artmenu a .r
{
	width:400px;
	right:0;
	clip: rect(auto, auto, auto, 400px);
}

.artmenu a .t 
{
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0 22px;
	margin: 0 0px;
	line-height: 43px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-43px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-43px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-43px;
}

.artmenu a:hover .t
{
	color: #212118;
}

.artmenu li:hover a .t
{
	color: #212118;
}

.artmenu li:hover>a .t
{
	color: #212118;
}



/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	display: block;
	width: 1px;
	height: 43px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;
	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color: #F3D17C;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
	*padding: 0;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #6B500A;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.artmenu ul ul a
{
	margin-left: auto;
}

.artmenu ul li a:hover
{
	color: #543E08;
	border-color: #F3D17C;
	background-position: 0 -20px;
}

.artmenu ul li:hover>a
{
	color: #543E08;
	border-color: #F3D17C;
	background-position: 0 -20px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #543E08;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #543E08;
}


/* end MenuSubItem */



#navigation {
	background: #fff url(images/bgnavigation.gif) repeat-x;
	height: 14px;
	margin-bottom: 1.5em;
}

#container {
	padding: 0em 2.0em 0em 2.0em;
}

.content-padding {
	padding: 10px;
}

#main {
	width: 100%;
	float: left;
}

.one-sidebar #main {
	width: 75%;
}

.sidebar {
	width: 25%;
	float: left;
}

.two-sidebars #main {
	width: 50%;
}

.node {
	margin: 0 0 30px;
	padding: 0 10px;
}

div.block h3.title {
	font-size: 16px;
	letter-spacing: -1px;
}

div.block {
	margin: 7px;
}

#footer {
	clear: both;
	background: #fff url(images/footerbg.gif) repeat-x 0em 2.5em;
	padding-top: 5.0em;
	font-size: 12px;
}

#footer p {
	text-align: center;
}

#user-login-form {
	text-align: left;
}

#user-login-form .form-item input {
	width: 95%;
}

#user-login-form input.form-submit {
	margin-bottom: 10px;
}

.node-form .form-submit {
	margin: 2em 0.5em 1em 0;
}

h3.commentTitle {
	font-size: 1.35em;
	margin: 0;
	padding: 0;
	background-image: none;
	height: auto;
}

.commentTitle a {
	margin: 0;
	padding: 0;
}

div.comment {
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 8px;
}

.metadata {
	font-size: smaller;
	clear: both;
	margin: 2px 0 0 0;
	padding: 5px 0 0 0;
	color: #AAAAAA;
	line-height: 16px;
}

.chronodata {
	padding: 2px 0 2px 20px;
	background: url(images/calendar.png) left center no-repeat;
}

.new {
	color: #f00;
	float: right;
}

div.links ul.links a {
	background-repeat: no-repeat;
	padding-left: 18px;
	background-position: 0 50%;
}

div.links ul.links li.comment_add a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.comment_comments a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.comment_edit a {
	background-image: url(images/mini-edit.png);
}

div.links ul.links li.comment_delete a {
	background-image: url(images/mini-trash.png);
}

div.links ul.links li.comment_reply a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.node_read_more a {
	background-image: url(images/arrow-single-right-green.png);
}

div.links ul.links li.blog_usernames_blog a {
	background-image: url(images/user-plain-green.png);
}

div.links ul.links li.comment_forbidden a {
	padding-left: 0px;
}

div.links ul.links li.upload_attachments a {
	background-image: url(images/photo.png);
}

.terms {
	background-repeat: no-repeat;
	padding-left: 18px;
	background-image: url(images/folder-open-blue.png);
}

.item-list ul.pager {
	margin: 0px;
	padding-top: 10px;
}

.item-list .pager li {
	margin: 0px;
	padding: 3px;
}

.item-list .pager li.pager-current {
	padding: 4px;
}

td, th {
	padding: 0.3em 0.5em 0.5em;
}

table tr.odd {
	background-color: #f3f3f3;
}

table tr.even {
	background-color: #ffffff;
}

div.messages {
	border: 2px solid #b8d3e5;
	padding: .75em 1.25em;
	margin: 1em 0;
}

.preview {
	background-color: #fcfce8;
	border: 1px solid #e5e58f;
	padding: .25em 1.25em;
	margin: 1em 0;
}

div.status {
	color: #65743d;
	border-color: #d6dfb9;
	background-color: #edf5d7;
}

div.error {
	color: #ba1212;
	border-color: #edc8c8;
	background-color: #f8e7e7;
}

dl dd {
	margin: 0 0 .5em 1.5em;
}

div.admin .left {
  margin-left: 0.5em;
}

div.admin .right {
  margin-right: 0.5em;
}